
/* ---------------------------------------------------------------------------------------- 

Project: NanoTube-Pi
Version: 1.0
Author: Mark Arthur

-------------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------------
BASE ELEMENTS
-------------------------------------------------------------------------------------------*/

body {
	padding: 20px 35px;
}

#core {
	margin: auto;
	width: 100%;
	height: 100%;
}


/* -----------------------------------------------------------------------------------------
NAV ELEMENTS
-------------------------------------------------------------------------------------------*/

#Nav-Settings {
	width: 100%;
	overflow: auto;
	border-bottom: 1px solid #000;
}

#Nav-List {
	float: right;
	padding: 0px 40px;
}

.Nav-Item {
	color: green;
	font-family: "arial";
	font-size: 4em; /* 60px */
	display: inline-block;
}

/*---------------------------------------------------------------------------------------------
MAIN BODY ELEMENTS
----------------------------------------------------------------------------------------------*/

#Main-Body {
	position: relative;
	background-color: white;
	height: 80%;
	padding: 40px 0px;
	transition: background-color 0.5s linear;
}

#Timer {
	font-family: 'arial';
	font-size: 6em; /* 80px */
	color: black;
}

#Shock-Score {
	font-family: 'arial';
	font-size: 22.000em; /* 350px */
	color: green;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/* ----------------------------------------------------------------------------------------------
MODAL STYLE
------------------------------------------------------------------------------------------------*/

#Settings-Screen {
	width: 90%;
	height: 70%;
	position: absolute;
	border: 1px solid #000;
	background-color: white;
	top: 80px;
	-webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
}

.left-block{
	display: inline-block;
	height: 100%;
	width: 50%;
	position: relative;
}

.right-block {
	display: inline-block;
	height: 100%;
	width: 49%;
	position: relative;
	float: right;
}

#Set-Time {
	font-family: 'arial';
	font-size: 3em; /* 80px */
	color: black;
	padding: 30px 30px;
}

#time {
	color: orange;
	display: inline-block;
}

.button {
	text-align: center;
	width: 100px;
	height: 50px;
	padding-top: 50px;
	border: 1px solid #000;
	background-color: orange;
	color: black;
}

.button:hover{
	background-color: green;
}

#Start-Btn {

	margin-top: 100px;
	margin-left: 100px;
}